.container {
  background-color: white;
  padding: 25px;
  border-radius: 15px;
  height: 90vh;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.address-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.delete-icon {
  cursor: pointer;
  font-size: 1.1rem;
}

.add-icon {
  cursor: pointer;
  font-size: 1.1rem;
}
