@import "bootstrap/scss/bootstrap";
@import "bootstrap-icons/font/bootstrap-icons.css";

html,
body {
  height: 100%;
  font-family: "Montserrat";
  padding: 0px;
  margin: 0px;
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 100px;
  opacity: 0.2;
}

::-webkit-scrollbar-thumb {
  background-color: #cfcfcf;
  border-radius: 100px;
}

.dropdown-item {
  line-height: 1.5;
  cursor: pointer;
}

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
